<!doctype html>
<html>
	<head>
		<title>HotNewHipHop</title>
		<link rel="icon" href="http://www.awkwordrap.com/wp-content/uploads/2014/01/hotnewhiphop.png" type="image/gif" sizes="16x16">
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Khula|Merriweather" rel="stylesheet">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
