body {
  font-family: 'Roboto Condensed', sans-serif;
  width: 95%;
  margin: 35px auto;
  line-height: 1.4em;
  background-color: white;
  color: black;
  text-align: justify;
}

.logo{
  height: 60px;
}

section {
  float: left;
  width: 85%;
  padding-left: 10%;
}

img {
  max-width: 100%;
}

.indeximg {
}

p {
  margin: 10px 0;
  font-size: 0.8em;
  font-family: 'Merriweather', serif;

}
.info {
  font-size: 0.8em;
  color: red;
  font-family: 'Khula', sans-serif;

}
h1 {
  margin: 45px 0px 15px 45px;
  font-size: 35px;
}

h2 {
  margin: 25px 0;
  font-size: 20px;
  font-family: 'Khula', sans-serif;
}

h3 {
  display: inline;
  font-family: 'Merriweather', serif;
}

nav {
  margin: 25px;
  padding: 2%;
  background-color: black;

}

nav a {
  display: inline-block;
  margin-right: 5px;
  margin-top: 20px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  display: inline-block;
  margin-right: 5px;
  margin-top: 20px;
  color: #f44242;
  text-decoration: none;

}

a {
  display: inline-block;
  margin-right: 5px;
  color: black;
}

.titel {
        font-size: 1.5em;
        text-decoration: none;
        font-family: 'Merriweather', serif;
        line-height: 1em;
        text-align: left;
        }

/* Grid */

        /*  SECTIONS  */
        .section {
        	clear: both;
        	padding: 0px;
        	margin: 0px;
        }

        /*  COLUMN SETUP  */
        .col {
        	display: block;
        	float:left;
        	margin: 0.5%;
        }
        .col:first-child { margin-left: 0; }

        /*  GROUPING  */
        .group:before,
        .group:after { content:""; display:table; }
        .group:after { clear:both;}
        .group { zoom:1; /* For IE 6/7 */ }

        /*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}

}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 {
    width: 100%;
  }
}

/* Title over Image */

.title-over-img .content-item {
  position: relative;
  clear: both;
  padding: 0px;
  margin: 0px;
}

.title-over-img .pic {
  line-height: 0;
}

.title-over-img .entry-title {
  margin-bottom: 5px;
  font-family: 'Khula', sans-serif;
}

.title-over-img .content-item .info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px 15px 10px;
  color: #fff;
  opacity: 0.8;
  font-family: 'Khula', sans-serif;
  transition: 400ms;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.title-over-img .content-item .info:hover {
  opacity: 1;
  color: red;
}

.title-over-img .content-item .info a {
  color: white;
  font-family: 'Khula', sans-serif;
  font-size: 1.3em;
}

.title-over-img .content-item .info a:hover {
  color: red;
}

.title-over-img .entry-meta {
  /* display: none; */
}

.cat {
  background-color: black;
  color: #f44242;
  text-decoration: none;
}
